<h1>Consumo Api Doctores</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Doctores" asp-action="DoctoresClienteAjax">
            Api Doctores Ajax
        </a>
    </li>
</ul>