
<h1>Index</h1>


<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="ListFiles" asp-controller="UploadFile">
            Files AWS
        </a>
    </li>
    <li class="list-group-item">
        <a asp-action="Upload" asp-controller="UploadFile">
            Upload en el Bucket
        </a>
    </li>
    <li class="list-group-item">
        <a asp-action="UploadChangeName" asp-controller="UploadFile">
            Upload renombrenado el fichero
        </a>
    </li>
    <li class="list-group-item">
        <a asp-action="UploadDirectory" asp-controller="UploadFile">
            Upload un direcotrio del Bucket
        </a>
    </li>
</ul>